:root {
  --disc-mask-opacity: 0.65;
}

.Disc {
  aspect-ratio: 1;
  background: url("/public/artwork.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 108.5%;
  clip-path: circle();
  pointer-events: painted;
  width: 80vh;
  filter: saturate(1.3);
}

.Disc__mask {
  filter: blur(20px);
  height: 1051;
  opacity: 0;
  overflow: visible;
  pointer-events: none;
  width: 1050;
}

.fadeOut {
  animation: fadeOut;
  animation-duration: calc(var(--base-animation-duration));
  animation-fill-mode: forwards;
}

.fadeIn {
  animation: fadeIn;
  animation-delay: calc(var(--base-animation-duration) * (2 / 3));
  animation-duration: calc(var(--base-animation-duration) / 3);
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: var(--disc-mask-opacity);
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: var(--disc-mask-opacity);
  }
}
