@font-face {
  font-family: "Basier Circle";
  src: url("/public/fonts/basiercircle-regular.otf");
}

:root {
  --base-animation-duration: /* This value is set by JS in the App Component */;
  --color-dark: #111;
  --text-color: #999;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  pointer-events: none;
  user-select: none;
}

html {
  touch-action: none;
}

body {
  background-color: #111;
  border: none;
  color: var(--text-color);
  font-family: "Basier Circle";
  font-size: 1.5rem;
}

main {
  display: grid;
  height: 100vh;
  gap: 10rem;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  padding: 6rem;
}

p {
  margin: 1em auto;
}
